################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HrMangegment/FileContentIndex/13a2735d-9941-4cda-b8ec-ad2a54f67bae.vsidx
/.vs/HrMangegment/FileContentIndex/150fa0e8-eb64-406d-a1f6-8e07b4c69336.vsidx
/.vs/HrMangegment/FileContentIndex/42f6a303-016d-4860-a8dc-0247bfd19b0b.vsidx
/.vs/HrMangegment/FileContentIndex/448a0eb1-dd12-457d-b1a9-0cf2bb6f1365.vsidx
/.vs/HrMangegment/FileContentIndex/4753aadb-9928-4496-b81b-202f254da71b.vsidx
/.vs/HrMangegment/FileContentIndex/5f56eb1e-48b8-48eb-a1e2-f60f9db7b7cc.vsidx
/.vs/HrMangegment/FileContentIndex/68b7879e-5f9b-4a73-8b1c-d1e7f46258c6.vsidx
/.vs/HrMangegment/FileContentIndex/973fae6f-101d-4424-a1f4-4c68b52e2ddc.vsidx
/.vs/HrMangegment/FileContentIndex/9f77bd15-fdf9-4a7d-a8d6-8a8b4f157f55.vsidx
/.vs/HrMangegment/FileContentIndex/d47cb2a9-8385-46ba-b8fc-06d146a92572.vsidx
/.vs/HrMangegment/FileContentIndex/d64e553b-7c48-43b9-af22-d2a1a66eb465.vsidx
/.vs/HrMangegment/FileContentIndex/read.lock
/.vs/HrMangegment/v17/.suo
/.vs/HrMangegment/v17/TestStore/0/000.testlog
/.vs/ProjectEvaluation/hrmangegment.metadata.v7.bin
/.vs/ProjectEvaluation/hrmangegment.projects.v7.bin
/HR.LeaveManagement.Domain/bin/Debug/net7.0/HR.LeaveManagement.Domain.dll
/HR.LeaveManagement.Domain/bin/Debug/net7.0/HR.LeaveManagement.Domain.pdb
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.AssemblyInfo.cs
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.AssemblyInfoInputs.cache
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.assets.cache
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.csproj.AssemblyReference.cache
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.csproj.CoreCompileInputs.cache
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.csproj.FileListAbsolute.txt
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.dll
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.pdb
/HR.LeaveManagement.Domain/obj/Debug/net7.0/HR.LeaveManagement.Domain.sourcelink.json
/HR.LeaveManagement.Domain/obj/Debug/net7.0/refint/HR.LeaveManagement.Domain.dll
/HR.LeaveManagement.Domain/obj/HR.LeaveManagement.Domain.csproj.nuget.dgspec.json
/HR.LeaveManagement.Domain/obj/HR.LeaveManagement.Domain.csproj.nuget.g.props
/HR.LeaveManagement.Domain/obj/project.assets.json
/HR.LeaveManagement.Domain/obj/project.nuget.cache
/HR.LeaveManagement.Infrastructure/bin/Debug/net7.0/HR.LeaveManagement.Domain.dll
/HR.LeaveManagement.Infrastructure/bin/Debug/net7.0/HR.LeaveManagement.Domain.pdb
/HR.LeaveManagement.Infrastructure/bin/Debug/net7.0/HR.LeaveManagement.Infrastructure.dll
/HR.LeaveManagement.Infrastructure/bin/Debug/net7.0/HR.LeaveManagement.Infrastructure.pdb
/HR.LeaveManagement.Infrastructure/bin/Debug/net7.0/HrManegment.Application.dll
/HR.LeaveManagement.Infrastructure/bin/Debug/net7.0/HrManegment.Application.pdb
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.AssemblyInfoInputs.cache
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.assets.cache
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.csproj.AssemblyReference.cache
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.csproj.CoreCompileInputs.cache
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.csproj.FileListAbsolute.txt
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.dll
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.pdb
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/HR.LeaveManagement.Infrastructure.sourcelink.json
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/ref/HR.LeaveManagement.Infrastructure.dll
/HR.LeaveManagement.Infrastructure/obj/Debug/net7.0/refint/HR.LeaveManagement.Infrastructure.dll
/HR.LeaveManagement.Infrastructure/obj/HR.LeaveManagement.Infrastructure.csproj.nuget.dgspec.json
/HR.LeaveManagement.Infrastructure/obj/HR.LeaveManagement.Infrastructure.csproj.nuget.g.props
/HR.LeaveManagement.Infrastructure/obj/project.assets.json
/HR.LeaveManagement.Infrastructure/obj/project.nuget.cache
/HrManegment.Api/bin/Debug/net7.0/HR.LeaveManagement.Domain.dll
/HrManegment.Api/bin/Debug/net7.0/HR.LeaveManagement.Domain.pdb
/HrManegment.Api/bin/Debug/net7.0/HR.LeaveManagement.Infrastructure.dll
/HrManegment.Api/bin/Debug/net7.0/HR.LeaveManagement.Infrastructure.pdb
/HrManegment.Api/bin/Debug/net7.0/HrManagement.Persistence.dll
/HrManegment.Api/bin/Debug/net7.0/HrManagement.Persistence.pdb
/HrManegment.Api/bin/Debug/net7.0/HrManegment.Api.dll
/HrManegment.Api/bin/Debug/net7.0/HrManegment.Api.exe
/HrManegment.Api/bin/Debug/net7.0/HrManegment.Api.pdb
/HrManegment.Api/bin/Debug/net7.0/HrManegment.Application.dll
/HrManegment.Api/bin/Debug/net7.0/HrManegment.Application.pdb
/HrManegment.Api/bin/Debug/net7.0/Identity.dll
/HrManegment.Api/bin/Debug/net7.0/Identity.pdb
/HrManegment.Api/logs/log-20240205.txt
/HrManegment.Api/logs/log-20240206.txt
/HrManegment.Api/logs/log-20240216.txt
/HrManegment.Api/obj/Debug/net7.0/apphost.exe
/HrManegment.Api/obj/Debug/net7.0/HrManegment.Api.AssemblyInfoInputs.cache
/HrManegment.Api/obj/Debug/net7.0/HrManegment.Api.assets.cache
/HrManegment.Api/obj/Debug/net7.0/HrManegment.Api.csproj.AssemblyReference.cache
/HrManegment.Api/obj/Debug/net7.0/HrManegment.Api.csproj.CoreCompileInputs.cache
/HrManegment.Api/obj/Debug/net7.0/HrManegment.Api.csproj.FileListAbsolute.txt
/HrManegment.Api/obj/Debug/net7.0/ref/HrManegment.Api.dll
/HrManegment.Api/obj/Debug/net7.0/refint/HrManegment.Api.dll
/.vs/HrMangegment/FileContentIndex
/Identity/obj/Debug/net7.0/Identity.sourcelink.json
